.App {
  background-color: #540202;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-justify: center;
  text-align: center;
}

.Contents {
  display: flex;
  grid-template-columns: 15rem 25rem 10rem;
  grid-gap: 0.5rem;
  justify-content: center;
  text-align: center;
}

.FilterList {
  margin-left: 2.5rem;
  display: flex;
  text-align: left;
  width: 15rem;
}

.MenuGrid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1%;
  justify-content: center;
  grid-auto-rows: max-content;
  margin-bottom: 2rem;
}

.MenuItem {
  text-align: center;
  background-color: #ffde88;
  color: #540202;
}

.addToCartPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cartButton {
  width: 2rem;
  height: 2rem;
}